@using VKR_1.Models.Home;
@model HomeViewModel

@{
    ViewData["Title"] = "Личный кабинет";
}
<div class="row mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="task shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <h2>Информация о заявке</h2>
                    <div class="form-group ">
                        <label asp-for="Request.Date">Дата заявки</label>
                        <p class="form-control-plaintext">@Model.Request.Date.ToString("dd.MM.yyyy")</p>
                    </div>
                    <div class="form-group">
                        <label asp-for="Request.PreferenceDate">Предпочитаемая дата</label>
                        <p class="form-control-plaintext">
                            @(Model.Request.PreferenceDate.HasValue ? Model.Request.PreferenceDate.Value.ToString("dd.MM.yyyy") : "Не выбрано")
                        </p>
                    </div>
                    <div class="form-group">
                        <label asp-for="Request.TimeSlot.Date">Назначенная дата</label>
                        <p class="form-control-plaintext" style="font-weight: bold;">@Model.Request.TimeSlot.Date.ToString("HH:mm dd.MM.yyyy")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>