@* @using VKR_1.Models.Home;
@model HomeViewModel

@{
    ViewData["Title"] = "Application Form";
}

<div class="tab-content">
    <div class="tab-pane fade @(!isVisibleRegisterTab ? "show active" : "")" id="pills-login" role="tabpanel">
        @{
            ViewData.TemplateInfo.HtmlFieldPrefix = "l";
            await Html.RenderPartialAsync("_Login", Model?.LoginViewModel);
        }
    </div>
    <div class="tab-pane fade @(isVisibleRegisterTab ? "show active" : "")" id="pills-register" role="tabpanel">
        @{
            ViewData.TemplateInfo.HtmlFieldPrefix = "r";
            await Html.RenderPartialAsync("_Register", Model?.RegisterViewModel);
        }
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
} *@