@page
@using VKR_1.Models.Registration
@model RegistrationViewModel
@{
}

@* <input type="hidden"/>
<div class="task shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <div class="form-group">
        <label asp-for="CurrentRequest.Date">Дата заявки</label>
        <p class="form-control-plaintext">@Model.">.Date.ToString("dd.MM.yyyy")</p>
    </div>
    <div class="d-flex justify-content-start align-items-center">
        <h5 class="me-2">Request.User?.Surname</h5>
        <h5 class="me-2">Request.User?.Name</h5>
        <h5>Request.User?.Patronymic</h5>
        <p class="ms-auto">Request.PreferenceDate?.ToString("dd.MM.yyyy")</p>
    </div>
    <div class="d-flex justify-content-start align-items-center">
        <p class="me-5">Request.User?.Email</p>
        <p>Request.User?.Phone</p>
    </div>
    <div class="d-flex justify-content-start">
        <button type="submit" class="btn btn-primary">Зарегистрировать</button>
    </div>
</div> *@